<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2>Basic Stats</h2>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :middle_name %><br>
    <%= f.text_field :middle_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :alias, "Alias(es)" %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  <div>
    <p>
    <label>
      <%= f.check_box :remove_avatar %>
      Remove avatar
    </label>
  </p>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.select :gender, options_for_select(["Male", "Female"]) %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.text_field :date_of_birth %>
  </div>
  <div class="field">
    <%= f.label :height %><br>
    <%= f.text_field :height %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.text_field :weight %>
  </div>
  <div class="field">
    <%= f.label :hair_color %><br>
    <%= f.text_field :hair_color %>
  </div>
  <div class="field">
    <%= f.label :eye_color %><br>
    <%= f.text_field :eye_color %>
  </div>
  <div class="field">
    <%= f.label :ethnicity %><br>
    <%= f.text_field :race %>
  </div>
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </div>

  <h2>Other Information</h2>
  <div class="field">
    <%= f.label :hometown %><br>
    <%= f.text_field :hometown %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :income %><br>
    <%= f.text_field :income %>
  </div>
  <div class="field">
    <%= f.label :religion %><br>
    <%= f.text_field :religion %>
  </div>
  <div class="field">
    <%= f.label "Special attributes/powers" %><br>
    <%= f.text_field :special_attributes %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </div>
  <div class="field">
    <%= f.label :relationship_skills %><br>
    <%= f.select :relationship_skills, options_for_select(["Very Poor", "Poor", "Below Average", "Average", "Above Average", "Excellent"], selected: "Average") %>
  </div>
  <div class="field">
    <%= f.label :birth_order %><br>
    <%= f.text_field :birth_order %>
  </div>
  <div class="field">
    <%= f.label :health %><br>
    <%= f.select :health, options_for_select(["Very Poor", "Poor", "Below Average", "Average", "Above Average", "Excellent"], selected: "Average") %>
  </div>
  <div class="field">
    <%= f.label :vices %><br>
    <%= f.text_field :vices %>
  </div>
  <div class="field">
    <%= f.label :disabilities %><br>
    <%= f.text_area :disabilities %>
  </div>
  <div class="field">
    <%= f.label :corrective_lenses %><br>
    <%= f.select :corrective_lenses, options_for_select(["No", "Yes"]) %>
  </div>
  <div class="field">
    <%= f.label :mental_illnesses %><br>
    <%= f.text_area :mental_illnesses %>
  </div>
  <div class="field">
    <%= f.label :general_intelligence %><br>
    <%= f.select :intelligence, options_for_select(["Very Low", "Low", "Below Average", "Average", "Above Average", "High", "Extremely High"], selected: "Average") %>
  </div>
  <div class="field">
    <%= f.label :distinguishing_features %><br>
    <%= f.text_area :distinguishing_features %>
  </div>
  <div class="field">
    <%= f.label :preferred_dress %><br>
    <%= f.text_area :preferred_dress %>
  </div>
  <div class="field">
    <%= f.label :outside_relations, "Non-TP relations" %><br>
    <%= f.text_area :outside_relations %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
