<h1>Tokyo Party Members</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Alias</th>
      <th>Last Name</th>
      <th>Role(s)</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.first_name, user %></td>
        <td><%= user.alias %></td>
        <td><%= user.last_name %></td>
        <td><%= user.roles.map(&:type).join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
