<p id="notice"><%= notice %></p>
<%= image_tag @user.avatar.url(:thumb)%>
<p>
  <strong>Name:</strong>
  <%= @user.first_name %> <%= @user.alias && @user.alias != "" ? "\"#{@user.alias}\"" : "" %> <%= @user.last_name %>
</p>

<p><strong>Role(s):</strong>
  <%= @user.roles.map(&:type).join(", ") %><br>
  <%= link_to "Add Role", new_user_role_path(@user) %><br>
</p>

<h2>Stats</h2>
<p><strong>Gender:</strong>
  <%= @user.gender %>
</p>
<p><strong>Date of Birth:</strong>
  <%= @user.date_of_birth %>
</p>
<p><strong>Height:</strong>
  <%= @user.height %>
</p>
<p><strong>Weight:</strong>
  <%= @user.weight %>
</p>
<p><strong>Hair Color:</strong>
  <%= @user.hair_color %>
</p>
<p><strong>Eye Color:</strong>
  <%= @user.eye_color %>
</p>
<p><strong>Race:</strong>
  <%= @user.race %>
</p>
<p><strong>Nationality:</strong>
  <%= @user.nationality %>
</p>

<h2>Relationships</h2>

<h3>Within the TP:</h3>
<% @user.relationships.each do |r| %>
  <% relation = User.find(r.relation_id) %>
  <% nickname = relation.alias && relation.alias != "" ? " \"#{relation.alias}\" " : "" %>
  <% name = relation.first_name + nickname + relation.last_name %>
  <%= link_to name, relation %>, <%= r.kind %>
<% end %><br>
<%= link_to "Add TP Relationship", new_user_relationship_path(@user) %><br>

<h3>Outside the TP</h3>
<%= @user.outside_relations %>
<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
